<h1>Contribute a new document</h1>

<%# NOTE: this form uses bootstrap_form_for and bootstrap_forms helpers - see: https://github.com/sethvargo/bootstrap_forms %>

<%= bootstrap_form_for @contribution, :url=>contribute_path, multipart: true, :html=>{ class: 'form-horizontal well' } do |f| %>

    <%= f.file_field :deposit_attachment, name: 'deposit_attachment', label: 'File to upload:'%>

    <%= render "contribute/deposit_view/#{DepositType.find(params[:deposit_type]).deposit_view}", :f => f  %>

    <h4>Deposit Agreement</h4>
    <p><%= raw @deposit_type.deposit_agreement %></p>

    <p><%= f.submit 'Agree & Deposit', class: 'btn btn-primary' %></p>
    <p><%= link_to 'Cancel', contribute_path,  class: 'btn' %></p>

<% end %>


