<h1>Manage Metadata Templates</h1>
<small><%= link_to "< Back to Menu", '/', id: "Home" %></small>

<table class="table">
  <thead>
  <tr>
    <th><%= link_to "Add", new_template_path, class: "btn btn-mini btn-primary" %></th>
    <th>PID</th>
    <th>Template Name</th>
    <th>Modified</th>
    <th>By</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <%= render partial: 'template', collection: @document_list, as: :template %>

  <tr>
    <td><%= link_to "Add", new_template_path, class: "btn btn-mini btn-primary" %></td>
    <td></td>
    <td><%= link_to "Create a new Metadata Template", new_template_path %> </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>

</table>