<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="blueline"></div>
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <a class="btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="col-md-3">
          <% if Tufts::Application.mira? %>
            <%= link_to image_tag('mira.png', :class => "navbar-brand", :alt => 'Home'), root_path %>
          <% else %>
            <%= link_to "Tufts Image Library", root_path, class: 'navbar-brand' %>
          <% end %>
        </div>

        <div class="col-md-6 clearfix" id="searchbar">
          <% unless controller_name.in?(['contribute','templates','records']) %>
            <%= render_search_bar %>
            <div id='search_link'>
              <%= link_to 'Advanced Search', advanced_search_path %>
            </div>
          <% end %>
        </div>

        <div class="col-md-3 navbar-collapse">
          <%= render :partial => '/user_util_links' %>
        </div>

      </div>
    </div>
  </div>
</div>
