<div id="descriptions_display">
  <%= bootstrap_form_for @record, :url=>hydra_editor.record_path(@record), html: {:class => 'form-inline editor'} do |f| %>
    <h2 class="non lower">Descriptions <small class="pull-right"><span class="error">*</span> indicates required fields</small> </h2>

    <div class="well">
      <div class="control-group">
        PID: <%=@record.pid %>
      </div>
      <% @record.descMetadata_display_fields.each do |term| %>
        <%= render :partial => "edit_field", :locals => {:f =>f, :render_req => true, :key => term } %>
      <% end %>
    </div><!-- /well -->

    <h3>Relationships</h3>
    <div class="well">
      <div class="control-group">
        <%= f.label :stored_collection_id, 'Collection', :class=>"control-label"%>
        <%= render_edit_field_partial(:stored_collection_id, f:f,  v: f.object.stored_collection_id, index: 0, render_req: true) %>
      </div><!-- /control-group -->
    </div>

    <h3>Admin metadata</h3>
    <div class="well">
      <% @record.admin_display_fields.each do |term| %>
        <%= render :partial => "edit_field", :locals => {:f =>f, :render_req => true, :key => term } %>
      <% end %>
    </div><!-- /well -->

    <%= hidden_field_tag :type, params[:type] %>
    <%= hidden_field_tag :pid, params[:pid] if controller.action_name == 'new'%>

    <div class="form-actions floating">
      <%= f.submit 'Save', 'data-disable-with'=>"Saving..." %>
      <% if @record.DCA_META.versions.empty? %>
        <%# if the object was just created (temporary object) delete it if they cancel %>
        <%= link_to "Cancel", cancel_record_path(@record), :class=>'btn cancel', :method=>:delete %>
      <% else %>
        <%= link_to "Cancel", :back, :class=>'btn cancel' %>
      <% end %>
    </div>
  <% end %>
</div>
