<%= bootstrap_form_for @generic, url: generic_path(@generic), html: {:class => 'form-inline generic'} do |f| %>
  <h2 class="non lower">Generic Object</h2>
  <div class="well">
    <div class="control-group">
      PID: <%=@generic.pid %>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Link</th>
          <th>MIME Type</th>
          <th>File Name</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
    <% @generic.item.each_with_index do |item, i| %>
      <tr>
        <td class="row_num"><%= i + 1 %></td>
        <td><%= text_field_tag "generic[item_attributes][#{i}][link]", @generic.item(i).link %></td>
        <td><%= text_field_tag "generic[item_attributes][#{i}][mimeType]", @generic.item(i).mimeType %></td>
        <td><%= text_field_tag "generic[item_attributes][#{i}][fileName]", @generic.item(i).fileName %></td>
        <td>
          <%= hidden_field_tag "generic[item_attributes][#{i}][item_id]", i+1 %>
          <% if i == 0 %>
            <button class="adder btn"><i class="icon-plus"></i><span class="accessible-hidden">add another row</span></button>
          <% else %>
            <button class="remover btn"><i class="icon-minus"></i><span class="accessible-hidden">remove row</span></button>
          <% end %>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div><!-- /well -->
  <%= f.actions do %>
    <%= f.submit 'Save', 'data-disable-with'=>"Saving..." %>
    <% if @generic.DCA_META.versions.empty? %>
      <%# if the object was just created (temporary object) delete it if they cancel %>
      <%= link_to "Cancel", cancel_record_path(@generic), :class=>'btn cancel', :method=>:delete %>
    <% else %>
      <%= link_to "Cancel", :back, :class=>'btn cancel' %>
    <% end %>
  <% end %>
<% end %>

