<%= render :partial => 'shared/errors', :locals => { :resource => @deposit_type, :resource_name => 'Deposit Type' } %>

<%= form_for @deposit_type do |f| %>
  <p>
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </p>

  <p>
    <%= f.label :deposit_view %>
    <%= f.select :deposit_view, DepositType.valid_desposit_views %>
  </p>

  <p>
    <%= f.label :deposit_agreement %>
    <%= f.text_area raw(:deposit_agreement), rows: 5, class: "span8" %>
  </p>

  <%= f.submit 'Save', class: 'btn-primary btn' %>
<% end %>
