<div>
  <h3>Create a new collection:</h3>
  <%= bootstrap_form_for @curated_collection_to_create, url: curated_collections_path do |f| %>
    <%= hidden_field_tag :return_url, request.url %>
    <%= f.text_field :title %>
    <%= f.submit %>
  <% end %>

  <% if @curated_collections.any? %>
    <h4>Collections:</h4>
    <ul class="curated-collection-list list-unstyled">
      <% @curated_collections.each do |collection| %>
        <li data-collection-id="<%= collection.pid %>"><%= collection.title %></li>
      <% end %>
    </ol>
  <% end %>

  <script type="text/javascript">
    $(function() {
      $(".document").draggable({
        helper: 'clone'
      });

      $(".curated-collection-list li").droppable({
        hoverClass: 'drop-target-hover',
        tolerance: 'pointer',
        drop: function(event, ui){
          pid = ui.draggable.find('.batch_document_selector').val();
          collection_id = $(this).data('collection-id');
          $.ajax({
            type: "PATCH",
            url: '/curated_collections/' + collection_id + '/append_to',
            data: {pid: pid},
            success: function(data, status){
              console.log(data);
              console.log(status);
            }
          });
        }
      });
    });
  </script>
</div>
