<% if current_user.admin? %>
  <h1>Tufts Digital Library Admin</h1>
  <nav>
    <ul>
      <li><%= link_to 'Create a new object', hydra_editor.new_record_path %></li>
      <li><%= link_to 'Unpublished objects', unpublished_index_path %></li>
      <li><%= link_to 'Manage metadata templates', templates_path %></li>
      <li><%= link_to 'Manage self-deposit types', deposit_types_path %></li>
      <li><%= link_to 'Contribute a new Self-Deposit item', contributions_path %></li>
    </ul>
  </nav>

  <h2> Batch Operations </h2>
  <nav>
    <ul>
      <li> <%= link_to 'Batch Status', batches_path %> </li>
      <li> <%= link_to 'Start a template-based batch import', '#' %> </li>
      <li> <%= link_to 'Start an XML-based batch import', '#' %> </li>
    </ul>
  </nav>

<% else %>
  <%# Plain-old-users should never be able to reach this page, but just in case... %>
  <h1>Redirecting to Contributor Deposit</h1>
  <%= redirect_to contributions_path %>
<% end %>
