        <h2 class="hide-text"><%= t('blacklight.search.search_results') %></h2>

        <%- if @response.empty? %>
          <%= render "zero_results" %>
        <%- elsif render_grouped_response? %>
          <%= render_grouped_document_index %>
        <%- else %>
          <%= render_document_index %>
        <%- end %>

        <%= render 'results_pagination' %>
