
<% if Tufts::Application.mira? %>
  <%= render partial: 'show_default', locals: {document: document} %>
  <h3>Thumbnail</h3>
  <img src="<%= download_path(document.id, datastream_id: 'Thumbnail.png') %>">
  <h3>Basic</h3>
  <img src="<%= download_path(document.id, datastream_id: 'Basic.jpg') %>">
  <h3>Advanced</h3>
  <img src="<%= download_path(document.id, datastream_id: 'Advanced.jpg') %>">
<% else #til %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'show_default', locals: {document: document} %>
    </div>
    <div class="col-md-6">
      <img src="<%= download_path(document.id, datastream_id: 'Basic.jpg') %>" style="width: 100%">
    </div>
  </div>
<% end %>
