<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
<% end %>

<div id="sidebar" class="col-md-3">
  <%= render 'search_sidebar' %>

  <%# only display the collection list if we've done a search %>
  <% if Tufts::Application.til? && has_search_parameters? %>
    <%= render 'curated_collection_list' %>
  <% end %>
</div>

<div id="content" class="col-md-9">

    <% unless has_search_parameters? %>
      <%# if there are no input/search related params, display the "home" partial -%>
      <% if Tufts::Application.mira? %>
        <%= render 'home_text' %>
      <% else %>
        <%= render 'home_til' %>
      <% end %>
    <% else %>

      <h2 class="hide-text top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

      <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

      <%= render 'search_header' %>

      <% if Tufts::Application.mira? %>
        <%= form_tag batches_path, method: :post do %>
          <%= hidden_field_tag :batch_form_page, '1' %>

          <%= render 'results' %>
        <% end %>
      <% else %>
          <%= render 'results' %>
      <% end %>
    <% end %>

</div>
