<table>
  <tr>
    <td><%= f.label "Capstone Project Title:" %>  </td>
    <td><%= f.text_field :title, required: true %> </td>
  </tr>

  <tr>
    <td><%= f.label "Contributor:" %> </td>
    <td><%= f.text_field :contributor, value: @self_deposit[:creator][0], required: true %> </td>
  </tr>

  <tr>
    <td><%= f.label "Department:" %> </td>
    <td><%= f.text_field :subject, value: @self_deposit[:subject][0], required: true %> </td>
  </tr>

  <tr>
    <td><%= f.label "Abstract:" %> </td>
    <td><%= f.text_field :description, value: @self_deposit[:description][0], required: true %> </td>
  </tr>
</table>

<hr>
<em><b>DEPOSIT AGREEMENT</b></em><br/>
<%= raw @self_deposit.deposit_agreement %>

