<table>
  <tr>
    <td><%= f.label "Title:" %>  </td>
    <td><%= f.text_field :title %> </td>
  </tr>

  <tr>
    <td><%= f.label "Contributor:" %> </td>
    <td><%= f.text_field :contributor, value: @self_deposit[:creator][0] %> </td>
  </tr>

  <tr>
    <td><%= f.label "Department:" %> </td>
    <td><%= f.select :subject, @self_deposit.tufts_departments.values.sort %> </td>
  </tr>

  <tr>
    <td><%= f.label "Abstract:" %> </td>
    <td><%= f.text_field :abstract %> </td>
  </tr>

  <tr>
    <td><%= f.label "Citation:" %> </td>
    <td><%= f.text_field :bibliographic_citation, value: @self_deposit[:bibliographic_citation][0] %> </td>
  </tr>

  <tr>
    <td><%= f.label "Other authors:" %> </td>
    <td><%= f.text_field :creator, value: @self_deposit[:creator][1] %> </td>
  </tr>
 </table>

<hr>
<em><b>DEPOSIT AGREEMENT</b></em><br/>
<%= raw @self_deposit.deposit_agreement %>

