<table>
  <tr>
    <td><%= f.label "Title:" %>  </td>
    <td><%= f.text_field :title, required: true %> </td>
  </tr>

  <tr>
    <td><%= f.label "Contributor:" %> </td>
    <td><%= f.text_field :contributor%> </td>
  </tr>

  <tr>
    <td><%= f.label "Abstract:" %> </td>
    <td><%= f.text_field :abstract, required: true %> </td>
  </tr>
</table>

<hr>
<em><b>DEPOSIT AGREEMENT</b></em><br/>
<%= raw @self_deposit.deposit_agreement %>

