<div class="span12">
  <h1>Batch Status</h1>

  <%= link_to "Back to index", batches_path %>
  <div class="batch_info">
    <%= make_dl "Batch Type", @batch.display_name, "type" %>
    <%= make_dl "Batch id", @batch.id, "batch_id" %>
    <%= make_dl "Record Count", @records_by_pid.count, "record_count" %>
    <%= make_dl "Creator", @batch.creator.display_name, "creator" %>
    <%= make_dl "Created at", @batch.created_at, "created_at" %>
    <%= make_dl "Status", batch_status_text(@batch), "status" %>
    <%= make_dl "Review Status", (@records_by_pid.values.all?{|m| m.try(:reviewed?)} ? "Complete" : "Incomplete"), "review_status" %>
  </div>

  <div class="batch-actions">
    <%= form_tag batches_path, method: :post do %>
      <% @batch.pids.each do |pid| %>
        <%= hidden_field_tag :batch_pids, pid, multiple: true, name: 'batch[pids][]' %>
      <% end %>

      <%= button_tag "Publish Batch", type: :submit,
        name: 'batch[type]', value: "BatchPublish",
        disabled: @batch.status != 'completed',
        data: { confirm: "#{pluralize(@batch.pids.count, 'object')} objects will be published to production. Do you wish to proceed?" },
        class: "btn btn-primary" %>

      <%= button_tag "Purge Batch", type: :submit,
        name: 'batch[type]', value: "BatchPurge",
        data: { confirm: "#{pluralize(@batch.pids.count, 'object')} will be purged on production and staging. Do you wish to proceed?" },
        class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="jobs">
    <table class="table">
      <tr>
        <th>PID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Reviewed Status</th>
      </tr>
      <% @batch.jobs.each do |job| %>
        <% job_options = job.try(&:options) || {} %>
        <% record = @records_by_pid[job_options['record_id']] %>
        <tr>
          <td class="record_pid"><%= job_options['record_id'] %></td>
          <td class="record_title"><%= record.try(&:title) %></td>
          <td class="record_status"><%= job_status_text(@batch, job) %></td>
          <td class="record_reviewed_status">
            <%= check_box_tag :reviewed, :reviewed, record.try(:reviewed?), type: :checkbox, disabled: true  %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
