<div class="span12">
  <h1>Batch Status</h1>

  <% @batch.pids = [] unless @batch.pids %>

  <%= link_to "All batches", batches_path %>

  <% if @batch.type == "BatchXmlImport" && missing = @batch.missing_files %>
    <div class="alert">
      Metadata exists for the following files that have not been updated:<br/>
      <ul>
        <% missing.each do |file| %>
          <li><%= file %></li>
        <% end %>
      </ul>
      <%= link_to "add additional files to this batch", edit_batch_path(@batch) %>
    </div>
  <% end %>

  <div class="batch_info">
    <%= make_dl "Batch Type", @batch.display_name, "type" %>
    <%= make_dl "Batch id", @batch.id, "batch_id" %>
    <%= make_dl "Record Count", @records_by_pid.count, "record_count" %>
    <%= make_dl "Creator", @batch.creator.display_name, "creator" %>
    <%= make_dl "Created at", @batch.created_at, "created_at" %>
    <%= make_dl "Status", batch_status_text(@batch), "status" %>
    <%= make_dl "Review Status", (@records_by_pid.values.all?{|m| m.try(:reviewed?)} ? "Complete" : "Incomplete"), "review_status" %>
  </div>

  <div class="batch-actions">
    <%= form_tag batches_path, method: :post do %>
      <% @batch.pids.each do |pid| %>
        <%= hidden_field_tag :batch_pids, pid, multiple: true, name: 'batch[pids][]' %>
      <% end %>

      <%= link_to 'Review Batch', catalog_index_path(search_field: 'batch', q: @batch.id), class: 'btn btn-primary' %>

      <%= button_tag "Publish Batch", type: :submit,
        name: 'batch[type]', value: "BatchPublish",
        disabled: @batch.status != :completed,
        data: { confirm: "#{pluralize(@batch.pids.count, 'object')} objects will be published to production. Do you wish to proceed?" },
        class: "btn btn-primary" %>

      <%= button_tag "Purge Batch", type: :submit,
        name: 'batch[type]', value: "BatchPurge",
        data: { confirm: "#{pluralize(@batch.pids.count, 'object')} will be purged on production and staging. Do you wish to proceed?" },
        class: "btn btn-primary" %>

      <%= button_tag "Revert", type: :submit,
        name: 'batch[type]', value: "BatchRevert",
        disabled: @batch.status != :completed,
        data: { confirm: "#{pluralize(@batch.pids.count, 'object')} will be reverted to match production. This action cannot be undone, are you sure?" },
        class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="batch-items">
    <table class="table">
      <tr>
        <th>PID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Review Status</th>
      </tr>

      <% @batch.pids.each do |pid| %>
        <% record = @records_by_pid[pid] %>
        <% job = @batch.jobs.select {|job| job && job.options && (job.options['record_id'] == pid) }.first %>
        <tr>
          <td class="record_pid"><%= link_to pid, catalog_path(pid) %></td>
          <td class="record_title"><%= record.try(&:title) %></td>
          <td class="record_status"><%= line_item_status(@batch, job, pid) %></td>
          <td class="record_reviewed_status">
            <%= check_box_tag :reviewed, :reviewed, record.try(:reviewed?), type: :checkbox, disabled: true  %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
